body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    position: relative;
    /* tambahkan ini */
}

.header {
    background-color: #6a1b9a;
    color: white;
    padding: 10px 20px;
    border-radius: 8px 8px 0 0;
    text-align: center;
}

.form {
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.submit-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.submit-button:hover {
    background-color: #218838;
}

.toast {
    visibility: hidden;
    min-width: 250px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

.toast.show {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 375px) {
    .container {
        width: 80%;
        height: 63%;
        margin: 0 auto;
        bottom: 30;
    }

    .form-group {
        height: auto;
        margin-bottom: auto;
    }

    .form-group label {
        height: auto;
        margin-bottom: auto;
    }

    .toast {
        bottom: 60;
    }
}